<div class="d-flex flex-column align-items-center w-100" style="min-height: calc(100vh - 100px - 210px);" >
    <div class="w-80" >
        <h1 class="m-0 p-0 mt-3">Recording</h1>

        <div class="d-flex justify-content-center gap-3">
            <div class="mb-5 d-flex flex-column align-items-center">
                <h6>Preview</h6>
                <div class="d-flex flex-column gap-2">
                    <a class="btn btn-info btn-shadow " style="max-width: 10rem;" (click)="showPreview()">Start
                        Preview</a>
                    <a class="btn btn-info btn-shadow " style="max-width: 10rem;" (click)="hidePreview()">Stop
                        Preview</a>
                </div>

            </div>
            <div class="mb-5 d-flex flex-column align-items-center">
                <h6>Recording options</h6>
                <div class="d-flex flex-column gap-2">
                    <a class="btn btn-info btn-shadow" style="max-width: 10rem;" (click)="startRecordingLive()">Start
                        recording</a>
                    <a class="btn btn-info btn-shadow" style="max-width: 10rem;" (click)="stopRecordingLive()">Stop
                        recording</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column  align-items-center justify-content-center mb-5">
            <div class="d-flex justify-content-center align-items-center"  [style]="style">
                <canvas #canvasScreen class="shadow" name="canvasScreen" id="canvasScreen" [width]="screenWidth"
                    [height]="screenHeight" style="z-index: 10;" autoplay> </canvas>
            </div>
            <video #screenVideo hidden id="screenVideo" [width]="screenWidth" [height]="screenHeight" autoplay>
                <source>
            </video>
            <video #webcamVideo hidden id="webcamVideo" [width]="screenWidth" [height]="screenHeight" autoplay>
                <source>
            </video>
            <canvas controls #webcamCanvas hidden id="webcamCanvas" [width]="screenWidth" [height]="screenHeight"
                autoplay></canvas>
        </div>
    </div>
</div>
