<form class="d-flex flex-column form-floating w-100 h-100" (ngSubmit)="login()">
  <app-input-field type="text" placeholder="Benutzername" name="username" [model]="username"
    (valueChange)="onUsernameChange($event)"></app-input-field>
  <app-password-field placeholder="Passwort" name="password" [model]="password" [hide]="hide"
    (valueChange)="onPasswordChange($event)"></app-password-field>
  <app-submit-button [disabled]="send"></app-submit-button>
  <app-redirect-links></app-redirect-links>
</form>
<app-user-feed-back [message]="message"></app-user-feed-back>
