<div class="footer-bg" >
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div>
            <h2>Follow us</h2>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <span class="icon-separator">/</span>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
            <span class="icon-separator">/</span>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
            <span class="icon-separator">/</span>
            <a href="https://www.tiktok.com" target="_blank">TikTok</a>
        </div>
    </div>

    <div class="d-flex justify-content-center gap-3">
        <a [routerLink]="['/legal']" routerLinkActive="router-link-active" >Legal notice</a>
        <a [routerLink]="['/privacy']">Data protection</a>
    </div>


    <div class="d-flex justify-content-center">
        <h2>© RECSYNC 2024</h2>
    </div>
</div>
