<footer>
<div class="footer-bg" style="height: 180px;"> 

    <div>
        <h2>Follow us</h2>
    </div>

    <div class="icons">        
       
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
        <span class="icon-separator">/</span>
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
        <span class="icon-separator">/</span>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <span class="icon-separator">/</span>
        <a href="https://www.tiktok.com" target="_blank">TikTok</a>
    </div>



    <div class =" data-protection">
        <a href="">Legal notice</a>
        <a href="">Data protection</a>

    </div>

    <div class="name">
        <h2>© Bloom 2024</h2> 
    </div>

    <div class="newsletter">
        <form action="URL_WOHIN_FORMULAR_GESCHICKT_WERDEN_SOLL" method="post">
            <input type="email" name="email" placeholder="Ihre E-Mail-Adresse" required>
            <button type="submit">Abonnieren</button>
        </form>
    </div>

</div>

</footer>