
.active-link {
  color:  #000000 !important;
  text-decoration: none;
  font-weight: bold;
}

.signUpContainer {

  @media(min-width: 900px) {

    h1 {
      font-size: 4rem;
    }
  }
}

.return-to-signin{
  font-style: italic;

  &:hover {
    color: #0dcaf0;
    text-decoration: underline;
  }
}

.signupHead {
  .devider {
    font-size: 1rem !important;
    font-weight: 900;

    @media(min-width: 900px) {
      font-size: 1.5rem !important;
    }
  }

  .steps {
    @media(min-width: 900px) {
      margin-top: 2rem !important;
    }
  }

  #step1,
  #step2,
  #step3,
  #step4 {
    font-size: 1rem;

    @media(min-width: 900px) {
      font-size: 1.5rem !important;
    }
  }

  @media(min-width: 900px) {
    align-items: flex-start !important;
  }

  .buttonContainer {
    @media(min-width: 900px) {
      margin-top: 4rem !important;
      margin-bottom: 3rem !important;
    }
  }

  .redirectLogin {
    @media(min-width: 900px) {
      font-size: 1.5rem !important;
    }
  }
}

