
.form-floating .form-control {
    border: none !important;
    border-bottom: 1px solid rgba(0,0,0,0.25) !important;
    border-radius: 0 !important;
  }
  
  .form-floating .form-control:focus {
    border-color: #000;
    box-shadow: none !important;
  }

  label::after {
    display: none;   
}

.active-link {
    color: #FFFFFF !important;
    text-decoration: none;
    font-weight: bold;
}