<div class="d-flex align-items-center flex-column" style="min-height: calc(100vh - 100px - 124px);">
  <div class="d-flex justify-content-center w-80 signupHead" style="min-height: calc(100vh - 100px - 124px);">
    <div class="d-flex justify-content-center align-items-center flex-column signUpContainer w-100 gap-3 h-100">
      <div class="d-flex justify-content-between w-100 steps">
        <span id="step1" [ngClass]="steps.step1 ? 'active-link': ''" (click)="next('step1')">Step 1</span>
        <span class="devider">-</span>
        <span id="step2" [ngClass]="steps.step2 ? 'active-link': ''" (click)="next('step2')">Step 2</span>
        <span class="devider">-</span>
        <span id="step3" [ngClass]="steps.step3 ? 'active-link': ''" (click)="next('step3')">Step 3</span>
        <span class="devider">-</span>
        <span id="step4" [ngClass]="steps.step4 ? 'active-link': ''" (click)="next('step4')">Step 4</span>
      </div>
      <h1 class=" align-self-start mb-3">Sign up</h1>
      <div class="d-flex flex-column w-100 gap-3 mt-3">
        <div>
          <form class="d-flex flex-column gap-3" [formGroup]="signupForm" (ngSubmit)="signup()">
            <div *ngIf="steps.step1" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input type="text" class="form-control text-secondary border-0 shadow-none rounded-5"
                style="background: transparent;" placeholder="username" name="username" id="usernameField"
                formControlName="username" required autocomplete="off">
              <label for="usernameField" class="m-0 p-0 pt-2">Enter your username</label>

            </div>
            <div *ngIf="steps.step1" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input type="email" class="form-control text-secondary border-0 shadow-none rounded-5"
                placeholder="name@example.com" style="background: transparent;" name="email" id="emailField"
                formControlName="email" required autocomplete="off">
              <label for="emailField" class="m-0 p-0 pt-2">Enter your email</label>
            </div>
            <div *ngIf="steps.step2" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input type="email" style="background: transparent;"
                class="form-control text-secondary border-0 shadow-none rounded-5" placeholder="name@example.com"
                name="firstName" id="firstNameField" formControlName="firstName" required autocomplete="off">
              <label for="firstNameField" class="m-0 p-0 pt-2">Enter your first name</label>
            </div>
            <div *ngIf="steps.step2" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input type="email" style="background: transparent;"
                class="form-control text-secondary border-0 shadow-none rounded-5" placeholder="name@example.com"
                name="lastName" id="lastNameField" formControlName="lastName" required autocomplete="off">
              <label for="lastNameField" class="m-0 p-0 pt-2">Enter your last name</label>
            </div>
            <div *ngIf="steps.step3" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input [type]="hide ? 'password' : 'text'"
                class="form-control text-secondary border-0 shadow-none rounded-5" style="background: transparent;"
                name="password" id="passwordField" formControlName="password" placeholder="Enter your password"
                autocomplete="off">
              <button tabindex="-1" (click)="togglePWField($event)" class="border-0 text-secondary rounded-4"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                style="color: white;position:absolute;right:0;bottom:0;top:0; background: transparent;">
                <span style="background: transparent !important;;" class="material-icons">{{hide ?
                  'visibility_off'
                  : 'visibility'}}</span>
              </button>
              <label for="passwordField" class="m-0 p-0 pt-2">Enter your password</label>
            </div>
            <div *ngIf="steps.step3" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input [type]="hide2 ? 'password' : 'text'"
                class="form-control text-secondary border-0 shadow-none rounded-5" style="background: transparent;"
                name="password2" id="passwordField2" formControlName="password2" placeholder="Bestätige dein Password"
                autocomplete="off">
              <button tabindex="-1" (click)="togglePWField2($event)" class="border-0 text-secondary rounded-4"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                style="color: white;position:absolute;right:0;bottom:0;top:0;background: transparent;">
                <span class="material-icons">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
              </button>
              <label for="passwordField2" class="m-0 p-0 pt-2">Reenter your password</label>
            </div>
            <div *ngIf="steps.step4" class="form-floating mb-3 w-100 align-self-center" style="max-width:20rem;">
              <input type="text" style="background: transparent;"
                class="form-control text-secondary border-0 shadow-none rounded-5" autocomplete="off"
                placeholder="name@example.com" name="street" id="streetField" formControlName="street" required>
              <label for="streetField" class="m-0 p-0 pt-2">Street + number</label>

              <div class="form-floating mb-3 align-self-center p-0" style="max-width:20rem;">
                <input type="number" style="background: transparent;"
                  class="form-control text-secondary border-0 shadow-none rounded-5" placeholder="name@example.com"
                  name="zipCode" id="zipCodeField" formControlName="zipCode" required autocomplete="off">
                <label for="zipCodeField" class="m-0 p-0 pt-2">Zip-code</label>
              </div>
              <div class="form-floating mb-3 align-self-center" style="max-width:20rem;">
                <input type="text" style="background: transparent;"
                  class="form-control text-secondary border-0 shadow-none rounded-5" autocomplete="off"
                  placeholder="name@example.com" name="city" id="cityField" formControlName="city" required>
                <label for="cityField" class="m-0 p-0 pt-2">City</label>
              </div>

              <div class="form-floating mb-3 align-self-center w-100" style="max-width:20rem;">
                <input type="text" style="background: transparent;"
                  class="form-control text-secondary border-0 shadow-none rounded-5" placeholder="name@example.com"
                  name="country" id="countryField" formControlName="country" required autocomplete="off">
                <label for="countryField" class="m-0 p-0 pt-2">Country</label>
              </div>
            </div>

            <div class="d-flex gap-2 align-self-center w-100 justify-content-center buttonContainer">
              <button type="button" [disabled]="steps.step1"
                class="w-100 btn btn-primary btn-shadow align-self-center mt-3 rounded border-0"
                style="max-width:8rem;max-height:3rem;height:2.5rem;" (click)="back()">Back</button>
              <button type="button" [disabled]="isDisabled()" *ngIf="!steps.step4"
                class="w-100 btn btn-primary btn-shadow align-self-center mt-3 rounded border-0"
                style="max-width:8rem;max-height:3rem;height:2.5rem;" (click)="forward()">Next</button>
              <button type="submit" *ngIf="steps.step4"
                class="w-100 btn btn-primary btn-shadow align-self-center mt-3 rounded border-0"
                style="max-width:8rem;max-height:3rem;height:2.5rem;" [disabled]="send || isDisabled()">Signup</button>
            </div>


            <div class="mt-3 align-self-center redirectLogin ">
              <span>Bereits registriert?<a routerLink="/signin">Jetzt einloggen</a></span>
            </div>

          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="card text-bg-dark rounded-3" *ngIf="success" style="position:absolute;z-index:100;max-width:25rem;">
    <div class="card-title text-danger d-flex text-align-center justify-content-center align-items-center w-100"
      style="font-weight:900; font-size:4rem;">RECSYNC</div>
    <div class="card-body d-flex justify-content-center align-items-center">
      <p class="text-success" style="text-align:center">Du hast dich erfolgreich registriert. Bitte bestätige
        deine Email Adresse.
        Du wirst in 3 Sekunden zum Login weitergeleitet.</p>
    </div>
  </div>
  <div class="card text-bg-dark rounded-3" *ngIf="signup_failed"
    style="position:absolute;z-index:100;max-width:25rem;min-width:20rem;min-height:15rem;">
    <div class="card-title text-danger d-flex text-align-center justify-content-center align-items-center w-100"
      style="font-weight:900; font-size:4rem;">RECSYNC</div>
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <p class="text-danger" style="text-align:center">{{fail_message}}</p>
      <span class="text-danger">{{message}}</span>
    </div>
  </div>
</div>
