.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  height: 100px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);

  .container-header-b-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .b-menu {
      width: 2rem;
      border: 1px solid rgba($color: #5A5A5A, $alpha: 1.0);
    }

    @media(min-width:1024px) {
      display: none;
    }
  }
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 6.125rem;
  width: 100%;
  gap: 1rem;
  background-color: rgba($color: #000000, $alpha: 0.85);
  z-index: 105;

  .container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .menu-item {
    color: #5A5A5A;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: #000000  0px 0px 2px !important;
    &:hover {
      color: #0dcaf0;

    }
  }
}


.active {
  color: #0dcaf0 !important;
}

.container-header-desktop {
  display: none;

  .language-container {
    font-size: 0.75rem;
    padding-top: 0.75rem;

    .language {
      font-size: 0.75rem;
    }
  }

  a {
    color: #5A5A5A;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    font-weight: 700;
    &:hover {
      color: #0dcaf0;
    }
  }

  a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -5px;
    background-color: #0dcaf0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  a:hover::after {
    transform: scaleX(1);
  }

  @media(min-width:1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0rem 0rem !important;
    z-index: 101;
  }
}
