<div class="container-header">
  <div class="d-flex justify-content-between align-items-center w-80" >
    <a routerLink="/">RECSYNC</a>
    <div class="container-header-desktop">

      <a routerLink="/home" [routerLinkActive]="'active'" translate>Home</a>
      <a routerLink="signin" [routerLinkActive]="'active'" translate>Sign in</a>
      <a routerLink="signup" [routerLinkActive]="'active'" translate>Sign up</a>
      <a routerLink="/contact" [routerLinkActive]="'active'" translate>Contact</a>
    </div>

    <div (click)="toggleMenu()" class="container-header-b-menu">
      <div class="b-menu"></div>
      <div class="b-menu"></div>
      <div class="b-menu"></div>
    </div>
  </div>
  <div *ngIf="isOpen" class="container-menu">

    <div class="container-items">
      <div class="container-menu-item">
        <a class="menu-item" routerLink="/" [routerLinkActive]="'active'" (click)="toggleMenu()" translate>Home</a>
      </div>
      <div class="container-menu-item">
        <a class="menu-item" routerLink="/signin" [routerLinkActive]="'active'" (click)="toggleMenu()" translate>Sign in</a>
      </div>
      <div class="container-menu-item">
        <a class="menu-item" routerLink="/signup" [routerLinkActive]="'active'" (click)="toggleMenu()" translate>Sign up</a>
      </div>
      <div class="container-menu-item">
        <a class="menu-item" routerLink="/contact" [routerLinkActive]="'active'" (click)="toggleMenu()" translate>Contact</a>
      </div>
    </div>
  </div>
</div>
