<div class="container-header">
    <div>
      <a [href]="'/'">RECSYNC</a>
    </div>
    <div class="container-header-desktop">
  
      <a [href]="'#about'" translate>Home</a>
      <a routerLink="signin" translate>Sign in</a>
      <a routerLink="signup" translate>Sign up</a>
      <a [href]="'#contact'" translate>Contact</a>
  
    </div>
  
    <div (click)="toggleMenu()" class="container-header-b-menu">
      <div class="b-menu"></div>
      <div class="b-menu"></div>
      <div class="b-menu"></div>
    </div>
  </div>
  <div *ngIf="isOpen" class="container-menu">
  
    <div class="container-items">
      <div class="container-menu-item">
        <a class="menu-item" [href]="'#about'" (click)="toggleMenu()" translate>Home</a>
      </div>
      <div class="container-menu-item">
        <a class="menu-item" routerLink="/signin" (click)="toggleMenu()" translate>Sign in</a>
      </div>
      <div class="container-menu-item">
        <a class="menu-item" routerLink="/signup" (click)="toggleMenu()" translate>Sign up</a>
      </div>
      <div class="container-menu-item">
        <a class="menu-item" [href]="'#contact'" (click)="toggleMenu()" translate>Legal Notice</a>
      </div>
    </div>
  </div>