<div class="about-the-system">
    <div class="d-flex flex-column align-items-center"> 4
        <div>
            <span class="d-flex justify-content-center align-items-center" style="text-align: center;"> 
                Take a screenshot and make some notes to show your Problems</span>
        </div>

        <div class="d-flex justify-content-center">
            <img class="screenshot" src="assets/images/pic-screenshot.png">
        </div>
    </div>

    <div class="d-flex flex-column align-items-center"> 
        <div>
            <span class="d-flex justify-content-center align-items-center" style="text-align: center;"> Work together with other people and share your problem</span>
        </div>

        <div class="d-flex justify-content-center">
            <img class="screenshot" src="assets/images/laptop.png">
        </div>
    </div>

    <div class="d-flex flex-column align-items-center"> 
        <div>
            <span class="d-flex justify-content-center align-items-center" style="text-align: center;"> Send a link</span>
        </div>

        <div class="d-flex justify-content-center">
            <img class="screenshot" src="assets/images/laptop.png">
        </div>
    </div>
</div>