<div class="w-100 d-flex justify-content-center align-items-center mb-5">
    <div class="d-flex justify-content-center flex-column align-items-center mt-5" style="width: 80%;">

        <h3 class="text-center"> Capture, share, and solve problems effortlessly with our screen recording platform –
            instantly share recordings via link!</h3>
        <img class="screenshot mt-4 rounded-5" src="assets/images/pic-screenshot.png">

        <h4 class="text-center mt-4"> Work
            together
            with other people and share your problem</h4>
        <img class="screenshot mt-4 rounded-5" src="assets/images/laptop.png">
        <h4 class="text-center mt-4"> Send a link</h4>
        <img class="screenshot mt-4 rounded-5" src="assets/images/laptop.png">
    </div>
</div>