@media (min-width:900px) {


  .detailsContainer {
      max-width:unset !important; ;

      h6{
          font-size: 1.8rem;
      }
      span {
          font-size: 1.3rem;
      }
  }
  h1{
      font-size: 4rem;
  }

}
