<div class="container-header">
  <div>
    <a [href]="'/'">Logo</a>
  </div>
  <div class="container-header-desktop">

    <a [href]="'#about'" translate>About me</a>
    <a [href]="'#skills'" translate>Skills</a>
    <a [href]="'#portfolio'" translate>Portfolio</a>
    <a [href]="'#contact'" translate>Contact</a>

  </div>

  <div (click)="toggleMenu()" class="container-header-b-menu">
    <div class="b-menu"></div>
    <div class="b-menu"></div>
    <div class="b-menu"></div>
  </div>
</div>
<div *ngIf="isOpen" class="container-menu">

  <div class="container-items">
    <div class="container-menu-item">
      <a class="menu-item" [href]="'#about'" (click)="toggleMenu()" translate>Home</a>
    </div>
    <div class="container-menu-item">
      <a class="menu-item" routerLink="/signin" (click)="toggleMenu()" translate>Login</a>
    </div>
    <div class="container-menu-item">
      <a class="menu-item" [href]="'#portfolio'" (click)="toggleMenu()" translate>Sign up</a>
    </div>
    <div class="container-menu-item">
      <a class="menu-item" [href]="'#contact'" (click)="toggleMenu()" translate>Legal Notice</a>
    </div>
  </div>
</div>
<!-- <div class="collapse navbar-collapse" id="navbarToggleExternalContent" >
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign in</a>
    </li>
  </ul>
</div> -->

<!-- <div class="d-flex justify-content-between align-items-center w-100"
  style="height:100px;max-width: 1500px;margin-left: 2rem;margin-right: 2rem;">
  <a class="h2" href="#">Logo</a>
  <div class="d-flex align-items-center gap-3">
    <a class="h3" href="#">Home</a>
    <a class="h3" href="#">Sign up</a>
    <a class="h3" href="#">Sign in</a>
  </div>
</div> -->