@media (min-width:900px) {


  .detailsContainer {
      max-width:unset !important; ;

      label{
          font-size: 1.8rem;
      }
      span {
          font-size: 1.2rem;
      }
  }
  h1{
      font-size: 4rem;
  }

}


.success {
  color: green !important;
}
