<div class="w-100 d-flex flex-column align-items-center" style="min-height: calc(100vh - 100px - 124px);">
  <div class="w-80 mt-5 ">
    <h1 class="mb-5 prevent-select">Profil bearbeiten</h1>
    <div class="d-flex justify-content-center flex-column align-items-center w-100 ">
      <form class="d-flex flex-column w-100 detailsContainer" (ngSubmit)="updateUserData()">
        <div class="w-100 d-flex flex-column align-items-center justify-content-center gap-2 mt-4">
          <div class="d-flex w-100 justify-content-between" *ngIf="infoType === 'userData'">
            <div class="form-floating mb-3 align-self-start" style="max-width:20rem;">
              <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="username"
                name="username" id="username" style="background: transparent;" [(ngModel)]="user['username']" required
                autocomplete="off">
              <label for="username" class="m-0 p-0 pt-2 prevent-select">Benutzername</label>
            </div>
            <div class="form-floating mb-3 align-self-start" style="max-width:20rem;">
              <input type="email" class="form-control text-secondary border-0 " placeholder="name@example.com"
                style="background: transparent;" name="email" id="emailField" [(ngModel)]="user.email" required
                autocomplete="off">
              <label for="emailField" class="m-0 p-0 pt-2 prevent-select">Email</label>
            </div>
          </div>
          <div class="d-flex w-100 justify-content-between align-self-start gap-2" *ngIf="infoType === 'personal'">
            <div class="form-floating mb-3 " style="max-width:20rem;">
              <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="First name"
                name="firstName" id="firstName" style="background: transparent;" [(ngModel)]="user['first_name']" required
                autocomplete="off">
              <label for="firstName" class="m-0 p-0 pt-2 prevent-select">Vorname</label>
            </div>
            <div class="form-floating mb-3 " style="max-width:20rem;">
              <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="Last name"
                name="lastName" id="lastName" style="background: transparent;" [(ngModel)]="user.last_name" required
                autocomplete="off">
              <label for="lastName" class="m-0 p-0 pt-2 prevent-select">Nachname</label>
            </div>
          </div>
          <div class="d-flex flex-column w-100 justify-content-between" *ngIf="infoType == 'address'">
            <div class="d-flex justify-content-between w-100 gap-2 align-self-start">
              <div class="form-floating mb-3 align-self-start" style="max-width:20rem;">
                <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="Street"
                  name="street" id="street" style="background: transparent;" [(ngModel)]="user.street" required
                  autocomplete="off">
                <label for="street" class="m-0 p-0 pt-2 prevent-select">Straße</label>
              </div>
              <div class="form-floating mb-3 align-self-start" style="max-width:20rem;">
                <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="Country"
                  name="country" id="country" style="background: transparent;" [(ngModel)]="user.country" required
                  autocomplete="off">
                <label for="country" class="m-0 p-0 pt-2 prevent-select">Land</label>
              </div>
            </div>
            <div class="d-flex justify-content-between w-100 gap-2 align-self-start">
              <div class="form-floating mb-3" style="max-width:20rem;">
                <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="Zipcode"
                  name="zipCode" id="zipCode" style="background: transparent;" [(ngModel)]="user.zip_code" required
                  autocomplete="off">
                <label for="zipCode" class="m-0 p-0 pt-2 prevent-select">Postleitzahl</label>
              </div>
              <div class="form-floating mb-3 " style="max-width:20rem;">
                <input type="text" class="form-control text-secondary border-0 rounded-5" placeholder="City" name="city"
                  id="city" style="background: transparent;" [(ngModel)]="user.city" required autocomplete="off">
                <label for="city" class="m-0 p-0 pt-2 prevent-select">Stadt</label>
              </div>
            </div>
          </div>
          <div class="d-flex gap-2 mt-5">
            <button type="button" class="w-100 btn btn-info btn-shadow align-self-center mt-3 rounded border-0"
              style="max-width:8rem;max-height:3rem;height:2.5rem;" (click)="back()">Abbrechen</button>
            <button type="submit" class="w-100 btn btn-info btn-shadow align-self-center mt-3 rounded border-0"
              style="max-width:8rem;max-height:3rem;height:2.5rem;" [disabled]="send">Ändern!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-user-feed-back [failed]="loginFailed" [failMessage]="failMessage" [message]="message"></app-user-feed-back>

</div>
