<div class="overlay">
  <div class="overlay-content d-flex flex-column align-items-center gap-2">
    <h3>Anleitungen zum Aktivieren von Kamera und Mikrofon</h3>
    <a href="https://support.google.com/chrome/answer/2693767?hl=de&co=GENIE.Platform%3DDesktop" target="_blank">Google
      Chrome </a>
    <a href="https://support.mozilla.org/de/kb/kamera-und-mikrofonberechtigungen-verwalten" target="_blank">Mozilla Firefox</a>
    <a href="https://support.apple.com/de-de/guide/mac-help/mchlf6d108da/mac" target="_blank">Safari</a>
    <a href="https://support.microsoft.com/de-de/windows/windows-kamera-mikrofon-und-datenschutz-a83257bc-e990-d54a-d212-b5e41beba857#:~:text=W%C3%A4hlen%20Microsoft%20Edge%20unter%20%22Einstellungen,Option%20Kamera%20oder%20Mikrofon%20aus." target="_blank">Microsoft Edge</a>
    <a href="https://help.opera.com/de/latest/web-preferences/" target="_blank">Opera</a>
    <button class="btn align-self-end" (click)="closeHelpMenu()">Schließen</button>
  </div>

</div>
