<div style="min-height: calc(100vh - 80px);">
    <div class="d-flex justify-content-center p-3 flex-column align-items-center">
        <img [src]="profileImg" class="w-50 rounded-circle mt-3" alt="">
        <a>edit avatar</a>
    </div>

    <div class="d-flex flex-column align-items-start mt-3">
        <div class="d-flex justify-content-between w-100">
            <h3>Details</h3>
            <a href="">edit Details</a>
        </div>
        <div class="d-flex justify-content-center">
            <span *ngIf="user">{{ user[0].username }}</span>
        </div>
        <div class="d-flex justify-content-center">
            <span *ngIf="user">{{ user[0].email }}</span>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start mt-3">
        <div class="d-flex justify-content-center">
            <h3>Newsletter</h3>
        </div>
        <div class="d-flex justify-content-center gap-2 align-items-center">
            <input type="checkbox">I want to get the Newsletter
        </div>


    </div>
</div>